[user]
	name = AhmedOsman101
	email = trollingosman101@outlook.com
[core]
	editor = nano
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  # navigate = true   # use n and N to move between diff sections
  # side-by-side = true
  dark = true
	line-numbers = true
	syntax-theme = "OneHalfDark"

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[safe]
	directory = /home/othman/work/projects/AhmedOsman101
[push]
	autoSetupRemote = true
